link(rel="manifest", href="/manifest.json")
title Service workers-powered store
meta(name="theme-color", content="#317EFB")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name="Description", content="Simple shop")