div.row.col-md-12.col-xs-12
    a(href='/products/12')
        img(src='/diody.png', alt="diodes").products-pic
div.row.col-md-12.mt10.col-xs-12
    a(href='/products/12')
        button.btn-default.btn LED diode, 10 pcs, 3 CBL