div.row.col-md-12.col-xs-12
    a(href='/products/10')
        img(src='/atmega.png', alt="atmega microprocessor").products-pic
div.row.col-md-12.mt10.col-xs-12
    a(href='/products/10')
        button.btn-default.btn Atmega328 microprocessor, 10 CBL