div.row.col-md-12
    a(href='/products/10')
        img(src='/atmega.png').products-pic
div.row.col-md-12.mt10
    a(href='/products/10')
        button.btn-default.btn Atmega328 microprocessor, 10 CBL