div.row.col-md-12.col-xs-12
    a(href='/products/2')
        img(src='/charger.png', alt="gopro battery charger").products-pic
div.row.col-md-12.mt10.col-xs-12
    a(href='/products/2')
        button.btn-default.btn GoPro batteries with charger, 150 CBL