div.row.col-md-12.col-xs-12
    a(href='/products/1')
        img(src='/gopro.png', alt="Gopro camera").products-pic
div.row.col-md-12.mt10.col-xs-12
    a(href='/products/1')
        button.btn-default.btn GoPro, 300 CBL