html
    head
    body
        div.container 
            div.row
                div.col-xs-12 
                    h2 3
            
    script(src='../jquery.js')
    script(src='../reqwest.js')
    script(src='../bootstrap.js')
    script(src='../addGenericServiceWorker.js')
    
    link(rel='stylesheet', href='../bootstrap.css')
    link(rel='stylesheet', href='../site.css')
