html
    head
    body
        div.container 
            div.row
                div.col-xs-12 
                    h2 I AM BERY ZORRY, BUD DE BAGE YOU ARE LOOGING VOR DOES NOT EGZIST :DDDDD
                    img.spurdo-pic(src='/spurdo.png')
            
    script(src='../jquery.js')
    script(src='../reqwest.js')
    script(src='../bootstrap.js')
    
    link(rel='stylesheet', href='../bootstrap.css')
    link(rel='stylesheet', href='../site.css')