html
    head
    body
        div.container
            nav.navbar.navbar-default
                div.navbar-collapse
                    ul.nav.navbar-nav.top-menu
                        li
                            a(href='/') Home
                        li
                            a Products

    link(rel='stylesheet', href='../bootstrap.css') 
    link(rel='stylesheet', href='../site.css')

    script(src='../jquery.js')
    script(src='../bootstrap.js')
    script(src='../reqwest.js')    
    script(src='../adderviceWorker.js')

   
