html
    head
    body
        div.container.inputs
            div.row.col-xs-9
                p#respectHelp Wpisz frazę, żeby zobaczyć czy Tomek szanuje:

    script(src='../jquery.js')
    script(src='../reqwest.js')
    script(src='../bootstrap.js')
    script(src='../addServiceWorker.js')        

    link(rel='stylesheet', href='../bootstrap.css')
    link(rel='stylesheet', href='../site.css')
