img {
    width: 100%;
    max-width: 300px;
    padding: 50px 20px 20px 20px;
    border-radius: 5px;

    -moz-box-shadow:0 0 20px -7px black;
    -webkit-box-shadow:0 0 20px -7px black;
    box-shadow:0 0 20px -7px black;
}

.top-menu {
    border: 1px gray solid;
    padding: 1px 1px 1px 1px;
    border-radius: 2px
}

.product {
    width: 50%;
    /*-moz-box-shadow:0 0 20px -7px black;
    -webkit-box-shadow:0 0 20px -7px black;
    box-shadow:0 0 20px -7px black;*/
}
